<ul>
  <li class="mb-4 bg-yellow-500 rounded cursor-pointer">
    <a class="px-4 py-4 flex items-center space-x-2 text-white font-bold text-lg" target="_blank" rel="noopener noreferrer"  href="https://forms.gle/ggt5SiVP5AxEB62D9" >
      <span><i class="fa-solid fa-person-chalkboard"></i></span>
      <span>Labotario 1</span>
    </a>
  </li>
  <li class="mb-4 bg-yellow-500 rounded cursor-pointer">
    <a class="px-4 py-4 flex items-center space-x-2 text-white font-bold text-lg" target="_blank" rel="noopener noreferrer"  href="https://forms.gle/mqogeov8ewNZdZq19">
      <span><i class="fa-solid fa-person-chalkboard"></i></span>
      <span>Labotario 2</span>
    </a>
  </li>
  <li class="mb-4 bg-yellow-500 rounded cursor-pointer">
    <a class="px-4 py-4 flex items-center space-x-2 text-white font-bold text-lg" target="_blank" rel="noopener noreferrer"  href="https://docs.google.com/forms/d/e/1FAIpQLScmwY-FnSU2Q5BWbHJu65Y_RdoSQKQXvU-B-RGTss7Hmkhg1A/viewform?usp=header">
      <span><i class="fa-solid fa-person-chalkboard"></i></span>
      <span>Labotario 3</span>
    </a>
  </li>
  <li class="mb-4 bg-yellow-500 rounded cursor-pointer">
    <a class="px-4 py-4 flex items-center space-x-2 text-white font-bold text-lg" target="_blank" rel="noopener noreferrer"  href="">
      <span><i class="fa-solid fa-person-chalkboard"></i></span>
      <span>Labotario 4</span>
    </a>
  </li>
  <li class="mb-4 bg-yellow-500 rounded cursor-pointer">
    <a class="px-4 py-4 flex items-center space-x-2 text-white font-bold text-lg" target="_blank" rel="noopener noreferrer"  href="https://forms.gle/1z4p138Jdkw994wz8">
      <span><i class="fa-solid fa-person-chalkboard"></i></span>
      <span>Labotario 5</span>
    </a>
  </li>
</ul>