<body class="flex items-center justify-center h-screen">

  <!-- Login Container -->
  <div class="form-container w-full max-w-md p-6 rounded shadow-md">
    <div class="text-center">
      <img src="favicon.png" height="80" width="80" alt="EPIS Logo" class="mx-auto mb-4">
      <h1 class="text-yellow-500 text-xl font-bold">Sistema de Matrícula EPIS-UNSCH</h1>
      <p class="text-gray-400 mb-6">Inicia sesión con Google para continuar</p>
    </div>

    <!-- Google Login Button -->
    <div class="text-center">
      <button (click)="LogIn()" class="google-btn w-full py-3 rounded font-bold text-lg flex items-center justify-center space-x-4 shadow">
        <img height="38" width="38" src="https://www.transparentpng.com/thumb/google-logo/colorful-google-logo-transparent-clipart-download-u3DWLj.png" alt="colorful google logo transparent clipart download @transparentpng.com">
        <span style="color: black;">Iniciar sesión con Google</span>
      </button>
    </div>

    <div class="text-center mt-6">
        <p class="text-gray-400 mt-6 mb-3">Desarrollado por: Franklin Figueroa Perez</p>
    </div>
  </div>

